@use '@/assets/styles/variables' as *;
.container {
    height: 70vh;
    overflow: hidden;
    text-align: center;
    position: relative;
    background-image: url("@/assets/img/bg.webp");
    background-size: cover;
    background-position: center;

    .m-s {
        margin-top: 120px;
        opacity: 0.9;

        .message {
            font-family: "logo-fonts";
            font-size: 60px;
            font-weight: bold;
            color: white;
            text-shadow: 2px 2px 5px #a2a2a2;
            white-space: nowrap;
        }

        .slogan {
            font-size: 25px;
            font-weight: bold;
            color: white;
            text-shadow: 2px 2px 5px #a2a2a2;
            white-space: nowrap;
        }
    }

    .wave {
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
    }
}

.area {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;

    .articleList {
        width: 90%;
        margin-left: 20px;
    }
}

@media screen and (max-width: $screen-medium) {
    .container {
        height: 80vh;
        background-image: url("@/assets/img/bg2.webp");

        .m-s {
            margin-top: 200px;

            .message {
                font-size: 40px;
            }

            .slogan {
                font-size: 18px;
            }
        }
    }

    .area {
        width: 100vw;
        flex-direction: column-reverse;
        .sidebar{
            width: 90%;
            margin: 0 auto;
        }
        .articleList {
            margin: 0 auto;
        }
    }
}