/* 优化Element plus组件库默认样式*/
// 修改el-menu菜单的边框、背景
.el-menu {
     background-color: transparent !important;
     border: none !important;

     .el-menu-item {
          border-bottom: none;

          &:hover {
               background-color: transparent !important;
          }
     }
     .is-active{
          border: none !important;
          background-color: transparent !important;
     }
}

// 去除el-button按钮的背景和边框
.el-button {
     background-color: transparent !important;
     border: none !important;
}

// 去除el-input输入框的边框以及内部背景色
.el-input {
     .el-input__wrapper {
          background-color: transparent;
          box-shadow: none;
          padding: 0;
     }
}