/* 优化Element plus组件库默认样式*/
// 修改el-menu菜单的边框、背景
.el-menu {
     background-color: transparent !important;
     border: none !important;
     .el-menu-item{
          border-bottom: none;
          &:hover{
               background-color: transparent !important;
          }
     }
}